@use '../../../config' as *;

#graphic-design {
    background-color: #000000;
}

.leftside-gd {
    width: 45%;
    color: $white;
}

#heading-graphic-design .design-text {
    color: $white;
}

.theater {
    width: 21vw;
    height: auto;
    margin-left: 2.1vw;
}