@use '../../../config' as *;

#interface-design {
    background-color: #EFD3CE;
}

.interface-img {
    width: 13vw;
    height: auto;
    margin-left: 2.1vw;
}

.lightbox-img.active {
    width: 20vw;
    height:auto;
}

.rightside-id {
    width: 45%;
    color: $black;
}

.rightside-id, #heading-interface, .interface-text {
    color: $black;
}