@use '../../../config' as *;

#interface-design {
    background-color: #EFD3CE;
}

.interface-img {
    width: 13vw;
    height: auto;
    margin-left: 2.1vw;
}

.lightbox-img.active {
    width: 20vw;
    height:auto;
}

.rightside-id {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 45%;
    color: $black;
}

#heading-interface {
    color: $black;
}

.interface-text {
    color: $black;
}