@use '../../../config' as *;

#webdesign {
    background-color: $light-green;
    width: 50%;
}

#heading-webdesign {
    color: $black;
}

.web-text {
    color: $black;
}

#web-button {
    width: 50%;
}