@import '/src/css/config';
@import '/src/css/shared';

.content-accordion {
    display: none;
    padding: 10px;
  }

.header-accordion {
  font-family: $heading-font;
  border: none;
  background-color: transparent;
  color: $black; 
}

h3 {
  font-family: $heading-font;
  font-size: $h3-desktop-size;
  font-weight: $heading-weight-black;
  padding-left: 1vw;
  transition: letter-spacing 0.3s ease-in-out;

  &:hover {
    letter-spacing: 0.1em;
  }
}

.item {
  width: 100%;
  min-height: 8.8vh;
  background-color: $light-green;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.item:nth-child(even){
  background-color: $dark-green;
    
  .header-accordion, .content-accordion, .arrow-icon {
    color: $white;
  }
}

.header-accordion {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.arrow-icon {
  font-size: $h3-desktop-size;
  padding-right: 1vw;
}

.content-accordion {
  padding: 1vw;
  font-family: $paragraph-font;
  font-size: $paragraph-desktop-size;
  font-weight: $paragraph-weight;
}