@import '/src/css/config';
@import '/src/css/shared';

.content-accordion {
    display: none;
    padding: 10px;
  }

.header-accordion {
  font-family: $heading-font;
  border: none;
  background-color: transparent;
  color: $black; 
}

h3 {
  font-family: $heading-font;
  font-size: $h3-desktop-size;
  font-weight: $heading-weight-black;
  padding-left: 1vw;
  transition: letter-spacing 0.3s ease-in-out;

  &:hover {
    letter-spacing: 0.1em;
  }
}

.item {
  width: 100%;
  min-height: 8.8vh;
  background-color: $light-green;
  display: flex;
  align-items: center;
}

.item:nth-child(even){
  background-color: $dark-green;
    
  .header-accordion {
    color: $white;
  }
}