@import '/src/css/config';
@import '/src/css/shared';
@import '/src/css/sharedcss/navAndFooter.scss';

#footer-puffer{
    height: 38.1vh;
    width: 100%;
    background-color: $white;
}

#footer {
    background-color: $dark-green;
    height: 38.1vh;
    width: 100%;
    
}

//First segment of the footer: logo and name
#first-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.2vw;
}

#logo-footer {
    font-size: $h6-desktop-size;
}

#name-footer {
    font-size: $h6-desktop-size;

    a {
        color: $white;
    }
}

//Second segment of the footer: sitemap
#sitemap-footer {
    display: flex;
    flex-direction: column;

    a {
        margin: 1.5vh 0px;
        font-family: $heading-font;
        font-size: $h6-desktop-size;
        font-weight: $heading-weight-regular;
        color: $white;
    }
}

//Third segment of the footer: location and email
#contact-footer {
    margin-right: 2.2vw;
    font-family: $heading-font;
    font-size: $h6-desktop-size;
    font-weight: $heading-weight-regular;
    color: $white;

    p {
        margin: 1.5vh 0px;
    }
}