@import '/src/css/config';
@import '/src/css/shared';
@import '/src/css/sharedcss/navAndFooter.scss';

#footer-puffer{
    height: 38.1vh;
    width: 100%;
    background-color: $white;
}

#footer {
    background-color: $dark-green;
    height: 38.1vh;
    width: 100%;
    
}

#first-footer, #sitemap-footer, #contact-footer {
    display:flex;
}

#sitemap-footer, #contact-footer {
    flex-direction: column;
}


#first-footer {
    justify-content: center;
    align-items: center;
    margin-left: 2.2vw;
}

#logo-footer {
    font-size: $h6-desktop-size;
}

#name-footer {
    font-size: $h6-desktop-size;

    a {
        color: $white;
    }
}

#sitemap-footer a, .contact-footer-line a {
    margin: 1.5vh 0px;
    font-family: $heading-font;
    font-weight: $heading-weight-regular;
    font-size: $h6-desktop-size;
    color: $white;
}

#contact-footer {
    margin-right: 2.2vw;
}

.contact-footer-line {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-color: $white;
        }
    }
}

.contact-icon {
    display: flex;
    color: $white;
    font-size: $h6-desktop-size;
    margin-right: 1vw;
}