@import '/src/css/config';
@import '/src/css/shared';

#footer {
    margin-top: 38.1vh;
    background-color: $dark-green;
    height: 38.1vh;
    width: 100%;
    
}

//First segment of the footer: logo and name
#firstFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.2vw;
}

#logo_footer {
    font-size: $h6-desktop-size;
}

#name_footer {
    font-size: $h6-desktop-size;
}

#name_footer a {
    color: $white;
}

//Second segment of the footer: sitemap
#sitemapFooter {
    display: flex;
    flex-direction: column;
}

#sitemapFooter a {
    margin: 1.5vh 0px;
    font-family: $heading-font;
    font-size: $h6-desktop-size;
    font-weight: $heading-weight-regular;
    color: $white;
    text-decoration: none;
}

//Third segment of the footer: location and email
#contactFooter {
    margin-right: 2.2vw;
    font-family: $heading-font;
    font-size: $h6-desktop-size;
    font-weight: $heading-weight-regular;
    color: $white;
}

#contactFooter p {
    margin: 1.5vh 0px;
}