@import '/src/css/config';
@import '/src/css/shared';

* {
    padding: 0px;
    margin: 0px;
}

#nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8.5vh;
    background-color: $white;
    z-index: 2;
}
    
.list {
    width: 100%;
}

#first {
    margin-left: 2.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo_nav {
    font-size: $logo-desktop-size;
}

#name_nav {
    font-size: $paragraph-desktop-size;
}


#name_nav a {
    color: $black;
    transition: color 0.3s ease-in-out;
    display: inline-flex;
    justify-content: center;
}

#name_nav a:hover {
    color: $purple;  
}

#second {
    max-width: 700px;
}


#third {
    margin-right: 2.2vw;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a{
    font-family: $heading-font;
    font-weight: $heading-weight-regular;
    font-size: $paragraph-desktop-size;
    text-decoration: none;
    color: $black-75;
    min-width: 200px;
    flex-shrink: 0;
    transition: font-weight 0.3s ease-in-out, letter-spacing 0.3s ease-in-out;
    display: inline-flex;
    justify-content: center;
}

.links a.router-link-exact-active {
    font-weight: $heading-weight-black;
    text-decoration: underline;
    color: $black;
    letter-spacing: 0.1em;
}

.links a:hover {
    font-weight: $heading-weight-black;
    letter-spacing: 0.1em;
}