@import '/src/css/config';
@import '/src/css/shared';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-form-container {
    background-color: $light-green;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4.2vw 0;
}

#contact-form {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 45%;
    font-family: $paragraph-font;
    font-size: $paragraph-desktop-size;

    p {
        margin-bottom: 2.1vw;
    }
}

#form-title {
    color: $black;
    margin-bottom: 2.1vw;
}

#contact-first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-section {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1.5vw 0;
}

label {
    color: $black;
    text-align: left;
    margin-bottom: 1vw;
    font-weight: 700;
}

input, textarea {
    font-family: $paragraph-font;
    font-size: $paragraph-desktop-size;
    border-radius: 50px;
    padding: 1vw;
    border: 4px solid $black;
    outline: none;
    background-color: $white;
    line-height: 1.5;
    width: 100%;

    &:focus:not(:user-invalid) {
        outline: 5px solid $black;
        outline-offset: -1px;
        transition: outline 0.2s ease-in-out;
    }
}

input:user-invalid {
    border: 4px solid red;

    &:focus {
        outline: 5px solid red;
        outline-offset: -1px;
        transition: outline 0.2s ease-in-out;
    }
}

textarea {
    min-height: calc(1.5 * 1vw * 5);
    resize: none;
}

#contact-last-line {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#contact-send-button {
    min-width: 40%;
    padding: 20px 40px;
}

#required-text {
    align-self: center;
}

#name-section {
    margin-right: 0.5vw;
}

#email-section {
    margin-left: 0.5vw;
}

.error-message {
    display: none;
    font-size: $paragraph-desktop-size;
    margin-top: 1vw;
    text-align: left;
}

.input-container {
    width: 100%;
    position: relative;
    display: inline-block;
}

.contact-invalid-icon {
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    font-size: 1.5vw;
}

.input-section:has(input:user-invalid) .contact-invalid-icon {
    display: inline;
}

.input-section:has(input:user-invalid) .error-message {
    display: block;
}


//change color of placeholder for most browsers
//note: can't be grouped together!

*::-webkit-input-placeholder {
    color: $black-75;
}

*:-moz-placeholder {
    color: $black-75;
    opacity: 1;
}

*::-moz-placeholder {
    color: $black-75;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: $black-75;
}

*::-ms-input-placeholder {
    color: $black-75;
}

*::placeholder {
    color: $black-75;
}