@use '/src/css/config';
@use '/src/css/shared';

#hero-section {
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 100vh;
    width: 100%;
    margin-bottom: 8.8vh;
}

.gradient-background {
    background: linear-gradient(300deg, config.$dark-green, config.$main-green, config.$light-green);
    background-size: 110% 110%;
}


.gradient-background, #grain {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 91.2vh;
    position: absolute;
    z-index: 0;
}

#grain {
    opacity: 30%;
    object-fit: cover;
}

#hero-content {
    width: 100%;
    position: relative;
    z-index: 2;
}

#me-picture, h1, #golden-ticket, #experience, #hero-button {
    position: absolute;
}

#me-picture {
    top: calc(20vh - 8.8vh);
    height: 80vh;
    width: auto;
}

h1{
    top: calc(20vh - 8.8vh);
    right: 8%;
    width: 50%;
    font-size: config.$h1-desktop-size;
    font-family: config.$heading-font;
    font-weight: config.$heading-weight-black;
    color: config.$black;
}

#golden-ticket {
    top: 45vh;
    right: 12%;
    font-family: config.$special-font;
    font-weight: config.$special-weight;
    font-size: config.$special-desktop-size;
    color: config.$white;
}

#experience {
    display: inline-block;
    top: 50vh;
    right: 1%;
}

.experience1 {
    font-family: config.$heading-font;
    font-weight: config.$heading-weight-regular;
    font-size: config.$h5-desktop-size;
    color: config.$white;
    padding-bottom: 8px;
}

.experience2 {
    width: 90%;
    font-family: config.$heading-font;
    font-weight: config.$heading-weight-regular;
    font-size: config.$h6-desktop-size;
    color: config.$white;
    padding: 8px 0px;
}


.experience3 {
    font-family: config.$heading-font;
    font-weight: config.$heading-weight-black;
    font-size: config.$h6-desktop-size;
    color: config.$white;
    padding: 8px 0px;
}

#hero-button {
    top: 75vh;
    right: 25%;
}