@use '../config' as *;

#hero-section {
    margin: 0px;
    padding: 0px;
    margin-bottom: 8.8vh;
}

.gradient-background {
    background: linear-gradient(300deg, $dark-green, $main-green, $light-green);
    background-size: 110% 110%;
}


.gradient-background, #grain {
    margin: 0px;
    padding: 0px;
    height: 91.2vh;
}

#grain {
    opacity: 30%;
    object-fit: cover;
}


#me-picture {
    top: calc(20vh - 8.8vh);
    height: 80vh;
    width: auto;
}

h1{
    top: calc(20vh - 8.8vh);
    right: 8%;
    width: 50%;
    font-size: $h1-desktop-size;
    color: $black;
}

h1, #experience {
    font-family: $heading-font;
}

h1, .experience3 {
    font-weight: $heading-weight-black;;
}

#golden-ticket, #experience {
    color: $white;
}

#golden-ticket {
    top: 45vh;
    right: 12%;
    font-family: $special-font;
    font-weight: $special-weight;
    font-size: $special-desktop-size;
}

#experience {
    display: inline-block;
    top: 50vh;
    right: 1%;
}

.experience1, .experience2 {
    font-weight: $heading-weight-regular;
}

.experience2, .experience3 {
    font-size: $h6-desktop-size;
}

.experience1 {
    font-size: $h5-desktop-size;
}

.experience2 {
    width: 90%;
}

#hero-button {
    top: 75vh;
    right: 25%;
}