@use '../config' as *;

#language-switcher {
    display: flex;
}

.divider {
    margin: 0px 5px;
    font-weight: $heading-weight-black;
    font-size: $paragraph-desktop-size;
}

button {
    font-family: $heading-font;
    font-weight: $heading-weight-regular;
    font-size: $paragraph-desktop-size;
    background: none;
    border: none;
    cursor: pointer;
    min-width: 50px;

    &:hover {
        font-weight: $heading-weight-black;
        transition: font-weight 0.3s ease-in-out,
    }

    &.active {
        font-weight: $heading-weight-black;
    }
}