@use '../../../config' as *;

.content-accordion {
    color: $black;
}

:deep(.project-gd-picture) {
    max-width: 20vw;
    height: auto;
}

:deep(.project-gd-picture-big) {
    max-width: 40vw;
    height: auto;
}

.content-flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-text-container {
    max-width: 80%;
}

p {
    line-height: 3.4vh;
    margin-bottom: 1vh;
}

figure {
    margin: 1vw 0vw;
    margin-left: 2.1vw;
}

.reverse-figure {
    margin: 1vw 0vw;
    margin-right: 2.1vw;
}

#cdtext2 {
    display: inline;

    p, a{
        display: inline;
    }
}