@use '../../config' as *;

#footer-puffer{
    height: 38.1vh;
    background-color: $white;
}

#footer {
    background-color: $dark-green;
    height: 38.1vh;
}

#first-footer {
    margin-left: 2.2vw;
}

#logo-footer, #name-footer, #sitemap-footer a, .contact-line a {
    font-size: $h6-desktop-size;
}

#name-footer a {
    color: $white;
}

#sitemap-footer a {
    margin: 1.5vh 0px;
    font-family: $heading-font;
    font-weight: $heading-weight-regular;
    color: $white;
}

#contact-footer {
    margin-right: 2.2vw;
}

.contact-line a {
    text-decoration: none;
    margin: 1.5vh 0px;
    font-family: $heading-font;
    font-weight: $heading-weight-regular;
    color: $white;
    
    &:hover {
        text-decoration: underline;
        text-decoration-color: $white;
    }
}

.contact-icon {
    color: $white;
    font-size: $h6-desktop-size;
    margin-right: 1vw;
}