@use '../../config' as *;

.item {
    min-height: 8.8vh;
    background-color: $light-green;
  
    &:nth-child(even){
    background-color: $dark-green;
      
        .header-accordion, .content-accordion, .arrow-icon {
        color: $white;
        }
  }
}

.header-accordion {
    font-family: $heading-font;
    color: $black; 
}

.item, .header-accordion { width: 100%; }

h3 {
    font-family: $heading-font;
    font-size: $h3-desktop-size;
    font-weight: $heading-weight-black;
    padding-left: 1vw;
    transition: letter-spacing 0.3s ease-in-out;
  
    &:hover {
      letter-spacing: 0.1em;
    }
}

.arrow-icon {
    font-size: $h3-desktop-size;
    padding-right: 1vw;
}

.content-accordion {
    padding: 1vw;
    font-family: $paragraph-font;
    font-size: $paragraph-desktop-size;
    font-weight: $paragraph-weight;
    display: none;
}

.custom-link {
    color:  #003366;
}