@import '/src/css/config';

#graphic_design {
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 0 4.2vw;
    height: 72vh;
    display: flex;
}

.leftside_gd {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 45%;
    color: $white;
}

#heading_graphic_design {
    font-family: $heading-font;
    font-size: $h3-desktop-size;
    font-weight: $heading-weight-black;
    color: white;
}

.design_text {
    font-family: $paragraph-font;
    font-size: $paragraph-desktop-size;
    font-weight: $paragraph-weight;
    line-height: 3.4vh;
    margin-top: 5.1vh;
}

#design_button {
    margin-top: 5.1vh;
    width: 60%;

    Button {
        background-color: $white;
        border-color: $white;
        color: $black;

        &:hover {
            cursor: pointer;
            background-color: $black;
            color: $white;
        }
    }
}

.rightside_gd {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.theater {
    width: 21.9vw;
    height: auto;
    margin-left: 2.1vw;
}