@use '../../config' as *;

.content {
    background-color: $white;
}

#graphic-design, #interface-design, #webdesign, #photography {
    padding: 0px 4.2vh;
}

#interface-design, #webdesign, #webdesign-example1, #webdesign-example2, #photography {
    margin-top: 16.9vh;
}

.home-segment {
    height: 72vh;
}

.segment-heading {
    font-family: $heading-font;
    font-size: $h3-desktop-size;
    font-weight: $heading-weight-black;
}

.segment-text {
    font-family: $paragraph-font;
    font-size: $paragraph-desktop-size;
    font-weight: $paragraph-weight;
    line-height: 3.4vh;
    margin-top: 5.1vh;
}

.segment-button {
    margin-top: 5.1vh;
    width: 60%;
}

.segment-button-white {
    background-color: $white;
    border-color: $white;
    color: $black;
    transition: color 0.3s ease-in-out;
    

    &:hover, &:focus {
        cursor: pointer;
        background-color: $black;
        color: $white;
    }
}

.segment-button-black {
    background-color: $black;
    border-color: $black;
    color: $white;
    transition: color 0.3s ease-in-out;

    &:hover, &:focus {
        cursor: pointer;
        background-color: $white;
        color: $black;
    }
}