@import '/src/css/config';

#interfacedesign {
    margin-top: 16.9vh;
    background-color: #EFD3CE;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4.2vw;
}

.leftside_id {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.interface_img {
    width: 13vw;
    height: auto;
    margin-left: 2.1vw;
}

.rightside_id {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 45%;
    color: $black;
}

#headinginterface {
    font-family: $heading-font;
    font-size: $h3-desktop-size;
    font-weight: $heading-weight-black;
    color: $black;
}

.interfacetext {
    font-family: $paragraph-font;
    font-size: $paragraph-desktop-size;
    font-weight: $paragraph-weight;
    line-height: 3.4vh;
    margin-top: 5.1vh;
    color: $black;
}

#buttonFlexboxInterface {
    display: flex;
    justify-content: center;
}

#interfacebutton {
    margin-top: 5.1vh;
    width: 60%;
}

#interfacebutton Button {
    background-color: $black;
    border-color: $black;
    color: $white;
    align-self: center;
}

#interfacebutton Button:hover {
    cursor: pointer;
    background-color: $white;
    color: $black;
}