@import '/src/css/config';
@import '/src/css/shared';

#photography {
    background-color: #77705A;
}

.photography-img1 {
    width: 18vw;
    height: auto;
}

.photography-img2 {
    width: 26vw;
    height: auto;
    margin-left: 2.1vw;
}

.rightside-ph {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 45%;
    color: $white;
}

#heading-photography {
    color: $white;
}

.photography-text {
    color: $white;
}