@import './config';

.logo {
    font-family: $logo-font;
    margin-right: 0.8vw;

    a {
        text-decoration: none;
        color: $purple;
    }
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.name {
    font-family: $heading-font;
    font-weight: $heading-weight-black;

    a {
        text-decoration: none;
    }
}

.links a {
    font-family: $heading-font;
    font-weight: $heading-weight-regular;
    text-decoration: none;
    transition: font-weight 0.3s ease-in-out, letter-spacing 0.3s ease-in-out;
    justify-content: center;
    display: inline-flex;
}

.links a:hover {
    font-weight: $heading-weight-black;
    letter-spacing: 0.1em;
    text-decoration: underline;
}

#graphic-design, #interface-design, #webdesign, #photography {
    padding: 0px 4.2vh;
}

#interface-design, #webdesign, #webdesign-example1, #webdesign-example2, #photography {
    margin-top: 16.9vh;
}

.home-segment {
    justify-content: space-between;
    align-items: center;
    height: 72vh;
    display: flex;
}

.segment-heading {
    font-family: $heading-font;
    font-size: $h3-desktop-size;
    font-weight: $heading-weight-black;
}

.segment-picture-side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.segment-text {
    font-family: $paragraph-font;
    font-size: $paragraph-desktop-size;
    font-weight: $paragraph-weight;
    line-height: 3.4vh;
    margin-top: 5.1vh;
}

.segment-button-flexbox {
    display: flex;
    justify-content: center;
}

.segment-button {
    margin-top: 5.1vh;
    width: 60%;
}

.segment-button-white {
    background-color: $white;
    border-color: $white;
    color: $black;
    align-self: center;
    

    &:hover {
        cursor: pointer;
        background-color: $black;
        color: $white;
    }
}

.segment-button-black {
    background-color: $black;
    border-color: $black;
    color: $white;
    align-self: center;

    &:hover {
        cursor: pointer;
        background-color: $white;
        color: $black;
    }
}