@import './config';
@import './sharedcss/navAndFooter.scss';
@import './sharedcss/homeSegments.scss';

h2 {
    font-family: $heading-font;
    font-size: $h2-desktop-size;
    font-weight: $heading-weight-black;
    color: $black;
    text-align: center;
    padding: 8.8vh 0px;
}