@use './shared';
@use './components/accordion/accordion.scss';
@use './components/home_projects/homeSegment.scss';
@use './components/nav_and_footer/navAndFooter.scss';
@use './config' as *;

* {
    margin: 0vw;
    padding: 0vw;
    overflow-x: hidden;
}