@import './config.scss';

* {
    margin: 0vw;
    padding: 0vw;
}

.content {
    background-color: $white;
}

h2 {
    font-family: $heading-font;
    font-size: $h2-desktop-size;
    font-weight: $heading-weight-black;
    color: $black;
    text-align: center;
    margin-bottom: 80px;
}