@import '/src/css/config';
@import '/src/css/shared';
@import '/src/css/sharedcss/accordionShared.scss';

.content-accordion {
    color: $black;
}

:deep(.project-gd-picture) {
    max-width: 20vw;
    height: auto;
}

.tam-content-flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tam-content-text-container {
    max-width: 80%;
}

p {
    line-height: 3.4vh;
    margin-bottom: 1vh;
}

figure {
    margin: 1vw 0vw;
    margin-left: 2.1vw;
}